/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

// テンプレ
.font-sm {
    font-size: 16px;
}
.font-md {
    font-size: 19px;
}
.font-lr {
    font-size: 23px;
}
.font-lg {
    font-size: 36px;
}
.mb-lg {
    margin-bottom: 150px !important;
}
.pb-lg {
    padding-bottom: 150px !important;
}
.flex {
    display: flex;
    flex-direction: column;
}

// Header
.header {
    position: absolute;
    z-index: 30;
    padding-top: 80px;
    &__nav {
        display: block;
    }
    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__li {
        padding: 0;
        margin-left: 30px;

        & > a {
            color: $cWhite;
        }
    }
}

.logo {
    & > img {
        width: 250px;
        display: block;
    }
    &__title {
        display: none;
    }
}

.head-bar {
    display: none;
}

.hero {
    &__logo {
        display: none;
    }
}

.concept {
    &__inner {
        text-align: center;
    }

    &__title-box {
        text-align: left;
        display: inline-block;
    }
}

.product {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        text-align: center;
    }

    &__item-link {
        display: block;

        &:hover {
            display: block;
        }
    }
}

.news {
    &__item-image {
        & > img {
            width: 300px;
        }
    }
}