/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

// google fonts追加！

// テンプレ
.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 17px;
}
.font-lr {
    font-size: 17px;
}
.font-lg {
    font-size: 25px;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}
.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
    color: $cBlack;
}

.button {
    text-align: center;
    margin: 50px;

    & .btn {
        background-color: $cWhite;
        border: 1px solid $cBlack;
        padding: 10px 50px;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        color: $cBlack;

        &:hover {
            background-color: $cBlack;
            color: $cWhite;
        }

        & > span::before {
            content: "";
            position: absolute;
            top: 9px;
            right: 18px;
            width: 10px;
            height: 10px;
            border-top: 1px solid $cBlack;
            border-right: 1px solid $cBlack;
            transform: rotate(45deg);
            margin-top: 5px;
        }
    }
}

// Header
.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }
    &__nav {
        display: none;
    }
}

.logo {
    & > img { 
        display: none;
    }
    &__title {
        color: #656c6e;
        font-size: 14px;
    }
}

.swiper-container {
    width: 100%;
    height: 700px;
}

.swiper-slide {
    height: 700px;

    & > img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}

.hero {
    &__logo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        text-align: center;

        & > img {
            width: 100px;
        }
        & > p {
            font-size: 12px;
            color:$cWhite;
            padding-top: 10px;
        }
    }
    &__footer {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 10;
    }
    &__downarrow {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 4px;
    }
}

// Concept
.concept {
    background-color: #f6f6f6;
    @extend .pb-lg;

    &__inner {
        padding-top: 80px;
        @extend .content-width;
    }

    &__main-title {
        font-size: 40px;
        font-weight: 100;
        @extend .pb-sm
    }
    & > p {
        padding-top: 20px;
    }
    &__sub-title {
        font-size: 35px;
    }
}

// Product
.product {
    min-height: 100vh;
    
    &__main-title {
        text-align: center;
        margin-top: 80px;
        & > h1 {
            font-size: 30px;
            font-weight: 200;
        }
    }
    &__inner {
        @extend .content-width;
    }
    &__item {
        width: 100%;
        margin-top: 30px;
        padding: 0 !important;
        text-align: center;
    }
    &__item-link:hover {
        display: block;
    }
    &__item-image {
        & > img {
            width: 100%;
            height: auto;
        }
    }
    &__item-title {
        @extend .font-lr;
        color: $cBlack;
    }
}

.news {
    min-height: 100vh;
    @extend .pb-lg;
    background-color: #f6f6f6;

    &__main-title {
        text-align: center;
        padding-top: 80px;
        & > h1 {
            font-size: 30px;
            font-weight: 200;
        }
    }
    &__item-link:hover {
        display: block;
    }
    &__inner {
        @extend .content-width
    }
    &__item {
        width: 100%;
        margin-top: 30px;
        padding: 0 !important;
    }
    &__item-image {
        & > img {
            width: 100%;
            height: auto;
        }
    }
    &__introduction {
        color: $cBlack;
        margin-top: 20px;
        @extend .font-sm;
        font-weight: 100;
    }
    &__item-text {
        display: none;
    }
}

// share
.share {
    background-color: #fff;
    padding: 35px;
    position: relative;

    & #page_top {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -20px;
        left: 50%;
        background: $cWhite;
        opacity: 0.6;
        border-radius: 50%;
    
        & > a {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            text-decoration: none;
    
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f077';
                font-size: 25px;
                color: $cBlack;
                position: absolute;
                width: 25px;
                height: 25px;
                top: -35px;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                text-align: center;
            }
        }
    }

    &__inner {
        max-width: 100%;
        padding: 0;
    }

    &__Buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    &__Buttons-item {
        width: 100%;
        margin: 20px;
    }

    &__btn-Facebook {
        background-color: $cWhite;
        border: 1px solid #5c73b7;
        padding: 10px 30px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 12px;
        color: #5c73b7;

        &:hover {
            background-color: #5c73b7;
            color: $cWhite;
        }
    }

    &__btn-Twitter {
        background-color: $cWhite;
        border: 1px solid #6289a4;
        padding: 10px 40px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 12px;
        color: #6289a4;

        &:hover {
            background-color: #6289a4;
            color: $cWhite;
        }
    }

    &__btn-Bookmark {
        background-color: $cWhite;
        border: 1px solid #6ea7a1;
        padding: 10px 34px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 12px;
        color: #6ea7a1;

        &:hover {
            background-color: #6ea7a1;
            color: $cWhite;
        }
    }

    &__btn-Line {
        background-color: $cWhite;
        border: 1px solid #7ab977;
        padding: 10px 39.5px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 12px;
        color: #7ab977;

        &:hover {
            background-color: #7ab977;
            color: $cWhite;
        }
    }
}

.footer-nav { 
    &__ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    &__li {
        box-sizing: border-box;
        border-bottom: 1px solid #fff;
        background-color: #939899;
        list-style: none;

        & > a {
            text-align: center;
            color: #fff;
            display: block;
            font-size: 14px;
            padding: 1.2rem 7% 1rem 7%;
            text-decoration: none;
        }
    }
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #656c6e;
    text-align: center;

    &__inner {
        @extend .content-width;
    }

    &__logo {
        padding: 20px;
        & > img {
            width: 100px;
            height: 100px;
        }
    }

    &__text {
        color: #fff;
        font-size: 10px;
    }
}