@charset "UTF-8";
.head-bar {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 10px 2.5%;
}

.head-bar .menu-btn,
.head-bar .menu-btn > span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-bar .menu-btn {
  display: block;
  float: right;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 30px;
}

.head-bar .menu-btn > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gray;
}

.head-bar .menu-btn > span:nth-of-type(1) {
  top: 0;
}

.head-bar .menu-btn > span:nth-of-type(2) {
  top: 13px;
}

.head-bar .menu-btn > span:nth-of-type(3) {
  bottom: 0;
}

.sp-menu {
  display: none;
  margin-left: -40px;
}

.sp-menu > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #fff;
  background-color: black;
  list-style: none;
}

.sp-menu > li > a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 1.2rem 7% 1rem 7%;
  text-decoration: none;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .header__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.header {
  background-color: white;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.logo > img {
  display: none;
}

.logo__title {
  color: #656c6e;
  font-size: 14px;
}

.swiper-container {
  height: 700px;
}

.swiper-slide {
  height: 700px;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
}

.hero__logo > img {
  width: 100px;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .flex, .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    display: block;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header__li {
    padding: 0;
    margin-left: 30px;
  }
  .header__li > a {
    color: white;
  }
  .logo > img {
    width: 300px;
    display: block;
  }
  .logo__title {
    display: none;
  }
  .head-bar {
    display: none;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */