@charset "UTF-8";
.head-bar {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 10px 2.5%;
}

.head-bar .menu-btn,
.head-bar .menu-btn > span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-bar .menu-btn {
  display: block;
  float: right;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 30px;
}

.head-bar .menu-btn > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gray;
}

.head-bar .menu-btn > span:nth-of-type(1) {
  top: 0;
}

.head-bar .menu-btn > span:nth-of-type(2) {
  top: 13px;
}

.head-bar .menu-btn > span:nth-of-type(3) {
  bottom: 0;
}

.sp-menu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.sp-menu > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.6);
  list-style: none;
}

.sp-menu > li > a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 1.2rem 7% 1rem 7%;
  text-decoration: none;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.font-sm, .news__introduction {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr, .product__item-title {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm, .concept__main-title {
  padding-bottom: 16px !important;
}

.pb-lg, .concept, .news {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, .concept__inner, .product__inner, .news__inner, .footer__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.button {
  text-align: center;
  margin: 50px;
}

.button .btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: black;
}

.button .btn:hover {
  background-color: black;
  color: white;
}

.button .btn > span::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 18px;
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 5px;
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.logo > img {
  display: none;
}

.logo__title {
  color: #656c6e;
  font-size: 14px;
}

.swiper-container {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  height: 700px;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
}

.hero__logo > img {
  width: 100px;
}

.hero__logo > p {
  font-size: 12px;
  color: white;
  padding-top: 10px;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
}

.concept {
  background-color: #f6f6f6;
}

.concept__inner {
  padding-top: 80px;
}

.concept__main-title {
  font-size: 40px;
  font-weight: 100;
}

.concept > p {
  padding-top: 20px;
}

.concept__sub-title {
  font-size: 35px;
}

.product {
  min-height: 100vh;
}

.product__main-title {
  text-align: center;
  margin-top: 80px;
}

.product__main-title > h1 {
  font-size: 30px;
  font-weight: 200;
}

.product__item {
  width: 100%;
  margin-top: 30px;
  padding: 0 !important;
}

.product__item-link:hover {
  display: block;
}

.product__item-image > img {
  width: 100%;
  height: auto;
}

.product__item-title {
  color: black;
}

.news {
  min-height: 100vh;
  background-color: #f6f6f6;
}

.news__main-title {
  text-align: center;
  padding-top: 80px;
}

.news__main-title > h1 {
  font-size: 30px;
  font-weight: 200;
}

.news__item-link:hover {
  display: block;
}

.news__item {
  width: 100%;
  margin-top: 30px;
  padding: 0 !important;
}

.news__item-image > img {
  width: 100%;
  height: auto;
}

.news__introduction {
  color: black;
  margin-top: 20px;
  font-weight: 100;
}

.news__item-text {
  display: none;
}

.share {
  background-color: #fff;
  padding: 35px;
  position: relative;
}

.share #page_top {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 50%;
  background: white;
  opacity: 0.6;
  border-radius: 50%;
}

.share #page_top > a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.share #page_top > a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f077';
  font-size: 25px;
  color: black;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.share__inner {
  max-width: 100%;
  padding: 0;
}

.share__Buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

.share__Buttons-item {
  width: 100%;
  margin: 20px;
}

.share__btn-Facebook {
  background-color: white;
  border: 1px solid #5c73b7;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  color: #5c73b7;
}

.share__btn-Facebook:hover {
  background-color: #5c73b7;
  color: white;
}

.share__btn-Twitter {
  background-color: white;
  border: 1px solid #6289a4;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  color: #6289a4;
}

.share__btn-Twitter:hover {
  background-color: #6289a4;
  color: white;
}

.share__btn-Bookmark {
  background-color: white;
  border: 1px solid #6ea7a1;
  padding: 10px 34px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  color: #6ea7a1;
}

.share__btn-Bookmark:hover {
  background-color: #6ea7a1;
  color: white;
}

.share__btn-Line {
  background-color: white;
  border: 1px solid #7ab977;
  padding: 10px 39.5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  color: #7ab977;
}

.share__btn-Line:hover {
  background-color: #7ab977;
  color: white;
}

.footer-nav__ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-nav__li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #fff;
  background-color: #939899;
  list-style: none;
}

.footer-nav__li > a {
  text-align: center;
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 1.2rem 7% 1rem 7%;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #656c6e;
  text-align: center;
}

.footer__logo {
  padding: 20px;
}

.footer__logo > img {
  width: 100px;
  height: 100px;
}

.footer__text {
  color: #fff;
  font-size: 10px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .font-sm, .news__introduction {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr, .product__item-title {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg, .concept, .news {
    padding-bottom: 150px !important;
  }
  .product__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product__item-link:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__item-image > img {
    width: 200px;
  }
  .news__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .news__item-link:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__item-image > img {
    width: 200px;
  }
  .news__introduction {
    margin: 0;
    padding-left: 20px;
    font-size: 12px;
  }
  .news__item-text {
    display: block;
  }
  .share {
    padding-top: 35px;
    padding-bottom: 0;
  }
  .share__Buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .share__btn-Line {
    display: none;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm, .news__introduction {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr, .product__item-title {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg, .concept, .news {
    padding-bottom: 150px !important;
  }
  .flex, .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    position: absolute;
    z-index: 30;
    padding-top: 80px;
  }
  .header__nav {
    display: block;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header__li {
    padding: 0;
    margin-left: 30px;
  }
  .header__li > a {
    color: white;
  }
  .logo > img {
    width: 250px;
    display: block;
  }
  .logo__title {
    display: none;
  }
  .head-bar {
    display: none;
  }
  .hero__logo {
    display: none;
  }
  .concept__inner {
    text-align: center;
  }
  .concept__title-box {
    text-align: left;
    display: inline-block;
  }
  .product__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .product__item {
    text-align: center;
  }
  .product__item-link {
    display: block;
  }
  .product__item-link:hover {
    display: block;
  }
  .news__item-image > img {
    width: 300px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */